DATABASE_URL=postgresql://vulp:vulp@localhost:5433/vulpdb
JWT_SECRET=local_dev_secret
# RUN_DATABASE_SEED=false
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_FROM="VULP AIR <no-reply@local>"
STORAGE_DRIVER=local
STORAGE_LOCAL_PATH=../../storage
# STORAGE_S3_BUCKET=
# STORAGE_S3_REGION=us-east-1
# STORAGE_S3_ENDPOINT=
# STORAGE_S3_ACCESS_KEY_ID=
# STORAGE_S3_SECRET_ACCESS_KEY=
# STORAGE_S3_FORCE_PATH_STYLE=false
PUBLIC_WEB_URL=http://localhost:3000
PORT=3001
