DATABASE_URL=postgresql://vulp:vulp@localhost:5433/vulpdb
JWT_SECRET=local_dev_secret
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_FROM="VULP AIR <no-reply@local>"
STORAGE_DRIVER=local
STORAGE_LOCAL_PATH=../../storage
PUBLIC_WEB_URL=http://localhost:3000
PORT=3001
